<section id="section-5-buscar">
    <h2 class="center color1">
        NOS PREOCUPAMOS POR TU BIENESTAR
    </h2>
    <p class="center color3">
        Recomendaciones si vas a adquirir un producto o servicios en esta guía
    </p>
    <div class="container">
        <div class="col-2-equals">
            <div class="col">
                <img src="../../../assets/09-1usuarios-seguridad.svg" class="seguridad-icon img-center">
                <h4 class="center color1">
                    USUARIOS
                </h4>
                <div class="h6 center color2">
                    Seguridad ante todo
                </div>
                <div class="hr-center background-color2"></div>
                <ul>
                    <li class="color3 justify">
                        Use guantes y mascarilla al momento de recibir un paquete.
                    </li>
                    <li class="color3 justify">
                        Evite el contacto cercano con la persona que entrega sus productos, no se arriesgue, USE
                        MASCARILLA.
                    </li>
                    <li class="color3 justify">
                        Evite que las personas de grupos vulnerables (tercera edad) sean quienes reciban los productos.
                    </li>
                    <li class="color3 justify">
                        Si puede realizar pagos a través de transferencias es mejor.
                    </li>
                    <li class="color3 justify">
                        Después de recibir sus productos recuerde lavarse las manos y desinfectarse con alcohol.
                    </li>
                    <li class="color4 justify">
                        Ten mucho cuidado a la hora de entrega información personal
                    </li>
                </ul>
            </div>
            <div class="col">
                <img src="../../../assets/09-2local-seguridad.svg" class="seguridad-icon img-center">
                <h4 class="center color1">
                    COMERCIOS
                </h4>
                <div class="h6 center color2">
                    Compromiso de prevención
                </div>
                <div class="hr-center background-color2"></div>
                <ul>
                    <li class="color3 justify">
                        Asegúrese de mantener un area limpia y ventilada para la elaboración de sus productos.
                    </li>
                    <li class="color3 justify">
                        Si puede realizar cobros a través de transferencias es mejor.
                    </li>
                    <li class="color3 justify">
                        Si una o más personas trabajan con usted recuerde que deben usar guantes y mascarilla en todo
                        momento.
                    </li>
                    <li class="color3 justify">
                        Asegúrese que el motorizado o persona que entregará sus productos cuente con los permisos
                        respectivos y los protocolos de seguridad recomendados.
                    </li>
                </ul>
            </div>
        </div>
        <h2 class="center color1">
            Registra tu negocio
        </h2>
        <a href="registro.html" class="button center-button background-color2 white center">REGISTRARSE</a>
    </div>
</section>