<footer>
  <div class="back-to-top-container">
    <a (click)="onGoToTop()" class="back-to-top-button background-color3">
      <i class="fas fa-angle-double-up white"></i>
    </a>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="col-3-equals">
        <div class="col">
          <img src="assets/01-logo-color.svg" class="img-center logo" alt="">
          <p class="center color3">
              <br>
            Todo más cerca es una plataforma solidaria con la cual queremos reactivar la economía y los pequeños negocios obligados a cerrar debido a la crisis que estamos pasando a nivel mundial.
          </p>
        </div>
        <div class="col contacto">
          <h5 class="color3 black roboto">
            CONTÁCTANOS
          </h5>
          <p class="color3 roboto">
            <i class="fas fa-map-marker-alt color1"></i>Quito - Ecuador
          </p>
          <p class="color3 roboto">
            <i class="far fa-envelope color1"></i>hola@todosmascerca.com
          </p>
          <p class="color3 roboto">
            <i class="fas fa-mobile-alt color1"></i>(+593) 995679002
          </p>
          <p class="color3">
            <i class="far fa-clock color1"></i>09:30 - 18:30
          </p>
        </div>
        <div class="col redes">
          <h5 class="color3 black roboto">
            SÍGUENOS
          </h5>
          <div class="contenedor-redes">
            <a href="https://www.instagram.com/todosmascerca/" target="_blank"><i class="fab fa-instagram color1"></i></a>
            <a href="https://www.facebook.com/todosmascerca" target="_blank"><i class="fab fa-facebook-f color1"></i></a>
            <a href="https://www.linkedin.com/company/64999962" target="_blank"><i class="fab fa-linkedin-in color1"></i></a>
            <a href="https://twitter.com/todosmascerca" target="_blank"><i class="fab fa-twitter color1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="https://wa.me/593995679002?text=Deseo%20más%20información%20sobre%20sus%20productos" class="whatsapp-float background-color2" target="_blank">
    <i class="fab fa-whatsapp white"></i>
  </a>
  <div class="footer-bottom background-color1">
    <a href="https://optimussocial.com" target="_blank">
      <img src="assets/04-optimus-logo-white.svg" alt="OptimusSocial" class="img-center">
    </a>
  </div>
</footer>
