<footer>
  <div class="back-to-top-container">
    <a (click)="onGoToTop()" class="back-to-top-button background-color3" style="cursor: pointer;">
      <i class="fas fa-angle-double-up white"></i>
    </a>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="col-3-equals">
        <div class="col">
          <img src="assets/01-logo-color.png" class="img-center logo" alt="">
          <p class="center color3">
            <br>
            Todos más cerca es una plataforma solidaria con la cual queremos reactivar la economía y los pequeños
            negocios obligados a cerrar debido a la crisis que estamos pasando a nivel mundial.
          </p>
        </div>
        <div class="col contacto">
          <h5 class="color3 black roboto">
            CONTÁCTANOS
          </h5>
          <p class="color3 roboto">
            <i class="fas fa-map-marker-alt color1"></i>Zapopan-México
          </p>
          <p class="color3 roboto">
            <i class="far fa-envelope color1"></i> <a href="mailto:hola@todosmascerca.com"
              class="color3">hola@todosmascerca.com</a>
          </p>
          <p class="color3 roboto">
            <i class="fas fa-mobile-alt color1"></i>(+52) 1 3312465622
          </p>
          <p class="color3">
            <i class="far fa-clock color1"></i>09:30 - 18:30
          </p>
        </div>
        <div class="col redes">
          <h5 class="color3 black roboto">
            SÍGUENOS
          </h5>
          <div class="contenedor-redes">
            <a href="https://www.instagram.com/todosmascerca/" target="_blank"><i
                class="fab fa-instagram color1"></i></a>
            <a href="https://www.facebook.com/todosmascerca" target="_blank"><i
                class="fab fa-facebook-f color1"></i></a>
            <!-- <a href="https://www.linkedin.com/showcase/todo-mas-cerca/" target="_blank"><i class="fab fa-linkedin-in color1"></i></a> -->
            <a href="https://www.linkedin.com/company/65109813" target="_blank"><i
                class="fab fa-linkedin-in color1"></i></a>

            <a href="https://twitter.com/todosmascerca" target="_blank"><i class="fab fa-twitter color1"></i></a>
          </div>
          <a [routerLink]="['/politicas-de-uso']" class="color3 terminos">
            Políticas de uso
          </a>
          <p class="color3 terminos" style="margin-top: 5px;">Versión 1.0.5</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <a href="http://api.whatsapp.com/send?phone=593995679002&text=Buenos%20d%C3%ADas,%20me%20gustar%C3%ADa%20tener%20informaci%C3%B3n%20de%20la%20Plataforma%20www.todosmascerca.com.%20Soy..."
    class="whatsapp-float background-color2 ws-mobile" target="_blank">
    <i class="fas fa-headset white"></i>
  </a>
  <a href="https://web.whatsapp.com/send?phone=593995679002&text=Buenos%20d%C3%ADas,%20me%20gustar%C3%ADa%20tener%20informaci%C3%B3n%20de%20la%20Plataforma%20www.todosmascerca.com.%20Soy..."
    class="whatsapp-float background-color2 ws-desktop" target="_blank">
    <i class="fas fa-headset white"></i>
  </a> -->
  <div class="footer-bottom background-color1">
    <a href="https://optimussocial.com" target="_blank">
      <img src="assets/04-optimus-logo-white.svg" alt="OptimusSocial" class="img-center">
    </a>
  </div>
</footer>
