<section id="section-5-registro" *ngIf="!editConfirmed">
  <div class="container">
    <div class="form-container" *ngIf="editForm">
      <form [formGroup]="editForm">
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Nombre</label>
            <input
              type="text"
              formControlName="ownerName"
              placeholder="Ingresa tu nombre"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerName')"
            />
            <span
              class="help-block"
              *ngIf="
                editForm?.get('ownerName').errors?.required &&
                editForm?.get('ownerName').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Apellido</label>
            <input
              type="text"
              formControlName="ownerLastName"
              placeholder="Ingresa tu apellido"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerLastName')"
            />
            <span
              class="help-block"
              *ngIf="
                editForm.get('ownerLastName').errors?.required &&
                editForm.get('ownerLastName').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Teléfono celular</label>

            <input
              type="text"
              formControlName="phone"
              placeholder="Ej: 0995975573"
            />
            <span
              *ngIf="editForm.hasError('pattern', 'phone')"
              class="help-block"
              >Su teléfono debe contener solo números</span
            >
            <br *ngIf="editForm.hasError('pattern', 'phone')" />
            <span
              *ngIf="editForm.hasError('minlength', 'phone')"
              class="help-block"
              >Su teléfono debe contener 10 números</span
            >
            <span
              class="help-block"
              *ngIf="
                editForm.get('phone').errors?.required &&
                editForm.get('phone').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Nombre del comercio</label>
            <input
              type="text"
              name="comercio"
              placeholder="Ingresa el nombre de tu negocio"
              formControlName="commerceName"
              (blur)="onCapitalizeLetter($event.target.value, 'commerceName')"
            />
            <span
              class="help-block"
              *ngIf="
                editForm.get('commerceName').errors?.required &&
                editForm.get('commerceName').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Categoría del comercio</label>
            <select formControlName="category">
              <option value="">Seleccionar</option>
              <option
                [ngValue]="category.id"
                *ngFor="let category of commerceCategories"
                >{{ category.commerceCategory }}</option
              >
            </select>
            <span
              class="help-block"
              *ngIf="
                editForm.get('category').errors?.required &&
                editForm.get('category').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Ciudad</label>
            <select formControlName="city">
              <option value="">Seleccionar</option>
              <option *ngFor="let city of cities" [ngValue]="city">{{
                city
              }}</option>
            </select>
            <span
              class="help-block"
              *ngIf="
                editForm.get('city').errors?.required &&
                editForm.get('city').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
        </div>
        <div class="col">
          <label class="color3">Días de Apertura</label>
          <select formControlName="frecuency">
            <option value="">Seleccionar</option>
            <option
              *ngFor="let frecuency of frecuencyOptions"
              [ngValue]="frecuency"
              >{{ frecuency }}</option
            >
          </select>
          <span
            class="help-block"
            *ngIf="
              editForm.get('frecuency').errors?.required &&
              editForm.get('frecuency').touched
            "
            >*Campo Obligatorio</span
          >
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3" for="horarios">Horario de Apertura</label>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field
                [defaultTime]="commerce['hourOpen']"
                formControlName="hourOpen"
                [controlOnly]="true"
              ></ngx-timepicker-field>
            </div>
            <span
              class="help-block"
              *ngIf="editForm.hasError('hourLessError', 'hourOpen')"
              >Atención: El horario de apertura debe ser menor al horario de
              cierre</span
            >
          </div>
          <div class="col">
            <label class="color3" for="horarios">Horario de cierre</label>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field
                formControlName="hourClose"
                [controlOnly]="true"
                [defaultTime]="commerce['hourClose']"
              ></ngx-timepicker-field>
            </div>
            <span
              class="help-block"
              *ngIf="editForm.hasError('hourGreatError', 'hourClose')"
              >*Atención: El horario de cierre tiene que ser mayor al horario de
              apertura</span
            >
          </div>
        </div>
        <div class="col-1">
          <label class="color3"
            >Dirección exacta del comercio<i
              class="fas fa-question-circle near"
              matTooltip="Esta opción permite ajustar manualmente la dirección de tu comercio, en caso la opción mostrada en el mapa no sea la correcta o esté incompleta"
            ></i
          ></label>
          <input
            type="text"
            formControlName="address"
            placeholder="Ej: Cristobal de Acuña e11 8 y Av. 10 de agosto"
          />
        </div>
        <div class="col-1">
          <label class="color3">Referencia del comercio</label>
          <input
            type="text"
            formControlName="reference"
            placeholder="Ej: diagonal al redondel."
          />
        </div>
        <div class="col-1">
          <label class="color3">Breve descripción del comercio</label>
          <textarea
            formControlName="commerceDescription"
            placeholder="Ej: Somos una tienda de barrio, donde podrás encontrar todo tipo de alimentos y bebidas. (Máximo 90 caracteres)"
          ></textarea>
        </div>
        <div class="col-1">
          <label class="color3">Correo electrónico de contacto:</label>
          <input
            type="email"
            placeholder="ejemplo@gmail.com"
            formControlName="ownerEmail"
          />
          <span
            class="help-block"
            *ngIf="
              editForm.get('ownerEmail').errors?.required &&
              editForm.get('ownerEmail').touched
            "
            >*Campo Obligatorio</span
          ><br />
          <span
            class="help-block"
            *ngIf="editForm.get('ownerEmail').errors?.email"
            >*Ingresa una dirección de correo electronico válida</span
          >
        </div>

        <div class="col-1">
          <label class="color3 background-color1 white" for="foto"
            ><i class="fas fa-camera white"></i> Editar la foto del
            Comercio</label
          >
          <input
            type="file"
            name=""
            id="foto"
            (change)="onFileChangedRecibo($event)"
          />
          <img *ngIf="reciboURL" [src]="reciboURL | safe: 'resourceUrl'" />
        </div>
        <div *ngIf="!editClicked">
          <div class="col-2-equals">
            <input
              type="button"
              name=""
              class="background-color1 white center button center-button"
              value="EDITAR"
              (click)="onClickEditButton()"
              [ngStyle]="{
                opacity: editForm.valid ? '1' : '0.5',
                cursor: editForm.valid ? 'pointer' : 'not-allowed'
              }"
            />
            <input
              type="button"
              class="red button"
              value="CANCELAR"
              (click)="close('')"
              style="cursor: pointer;"
            />
          </div>

          <span class="help-block" *ngIf="editForm.invalid"
            >*Debe llenar todos los campos para actualizar la información</span
          >
          <br *ngIf="invalidControls.length > 0" />
          <div *ngIf="invalidControls.length > 0">
            <span class="help-block">Revise los siguientes campos: </span>
            <span class="help-block" *ngFor="let name of invalidControls"
              >{{ name }},
            </span>
          </div>
        </div>
        <div style="text-align: center;" *ngIf="editClicked">
          <p>¿Estás seguro que son los datos correctos?</p>
          <div class="col-2-equals">
            <div class="col">
              <button
              class="btn"
                (click)="
                  this.imagenSeleccionada
                    ? operar(this.editForm.get('commerceName').value)
                    : submitCommerce()
                "
              >
                Sí
              </button>
            </div>
            <div class="col">
              <button
              class="btn red"
              (click)="onCancelEdit()">No</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="second-dialog" *ngIf="editConfirmed">
  <div class="header">
    <h5>Editar Comercios</h5>
    <h6>El comercio se ha editado con éxito.</h6>
  </div>
  <div class="buttons">
    <div>
      <button class="btn_ok" (click)="close('edit')">Ok</button>
    </div>
  </div>
</div>
