<section id="section-5-registro">
  <div class="container">
    <div class="form-container">
      <h2 class="color1 center bebas">
        REGISTRA TU LOCAL COMERCIAL
      </h2>
      <h2 class="color2 h2-small center bebas">
        O NEGOCIO DE LA ESQUINA <span class="h2-big">GRATIS</span>
      </h2>
      <div class="hr-center background-color1"></div>
      <form [formGroup]="registerForm">
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Nombre</label>
            <input type="text" formControlName="ownerName" placeholder="Ingresa tu nombre"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerName')" />
          </div>
          <div class="col">
            <label class="color3">Apellido</label>
            <input type="text" formControlName="ownerLastName" placeholder="Ingresa tu apellido"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerLastName')" />
          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Teléfono celular</label>

            <input type="text" formControlName="phone" placeholder="Ej: 0995975573" />
            <span *ngIf="registerForm.hasError('pattern', 'phone')" class="help-block">Su teléfono debe contener solo
              números</span>
          </div>
          <div class="col">
            <label class="color3">Nombre del comercio</label>
            <input type="text" name="comercio" placeholder="Ingresa el nombre de tu negocio"
              formControlName="commerceName" (blur)="onCapitalizeLetter($event.target.value, 'commerceName')" />

          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Categoría del comercio</label>
            <select formControlName="category">
              <option disabled selected>Seleccionar</option>
              <option *ngFor="let category of commerceCategories">{{
                category
              }}</option>
            </select>
          </div>
          <div class="col">
            <label class="color3">Ciudad</label>
            <select formControlName="city">
              <option disabled selected>Seleccionar</option>
              <option *ngFor="let city of cities">{{
                city
              }}</option>
            </select>
          </div>
        </div>
        <div class="col-3-equals">
          <div class="col">
            <label class="color3">Frecuencia</label>
            <select formControlName="frecuency">
              <option selected>Seleccionar</option>
              <option *ngFor="let frecuency of frecuencyOptions">{{
                frecuency
              }}</option>
            </select>
          </div>
          <div class="col">

            <label class="color3" for="horarios">Hora de Apertura</label>
            <input [owlDateTime]="dt1" placeholder="Seleccione la hora de apertura de su negocio"
              [owlDateTimeTrigger]="dt1" formControlName="hourOpen" />
            <span class="trigger" style="cursor:pointer" [owlDateTimeTrigger]="dt1">

              <i class="fas fa-clock"></i>
            </span>
            <owl-date-time #dt1 pickerType="timer"></owl-date-time>
          </div>
          <div class="col">

            <label class="color3" for="horarios">Hora de cierre</label>
            <input [owlDateTime]="dt2" placeholder="Seleccione la hora de cierre de su negocio"
              [owlDateTimeTrigger]="dt2" formControlName="hourClose" />
            <span class="trigger" style="cursor:pointer" [owlDateTimeTrigger]="dt2">

              <i class="fas fa-clock"></i>
            </span>
            <owl-date-time #dt2 pickerType="timer"></owl-date-time>
          </div>
        </div>
        <!--  <div class="col-2-equals">
          <div class="col">
            <label class="color3">Provincia</label>
            <select formControlName="province">
              <option disabled selected>Seleccionar</option>
              <option [value]="province" *ngFor="let province of provinces">{{
                province
              }}</option>
            </select>
          </div>
          <div class="col">
            <label class="color3">Ciudad</label>
            <select formControlName="city">
              <option disabled selected>Seleccionar</option>
              <option value="Guayaquil">Guayaquil</option>
              <option value="Quito">Quito</option>
            </select>
          </div>
        </div> -->

        <!-- <div class="col">
            <label class="color3" for="barrio">Elige tu barrio</label>
            <select>
              <option disabled selected>Seleccionar</option>
              <option value="5 esquinas">5 esquinas</option>
              <option value="Alangasí">Alangasí</option>
              <option value="Atucucho">Atucucho</option>
              <option value="Bellavista">Bellavista</option>
              <option value="Carcelén">Carcelén</option>
              <option value="Caupichu">Caupichu</option>
              <option value="Centro Histórico">Centro Histórico</option>
              <option value="Chilibulo">Chilibulo</option>
              <option value="Chillogallo">Chillogallo</option>
              <option value="Chimbacalle">Chimbacalle</option>
              <option value="Ciudadela del Ejército">Ciudadela del Ejército</option>
              <option value="Ciudadela Ibarra">Ciudadela Ibarra</option>
              <option value="Comité del Pueblo">Comité del Pueblo</option>
              <option value="Conocoto">Conocoto</option>
              <option value="Cornejo">Cornejo</option>
              <option value="Cotocollao">Cotocollao</option>
              <option value="Cumbayá">Cumbayá</option>
              <option value="El Batán">El Batán</option>
              <option value="El Beaterio">El Beaterio</option>
              <option value="El Calzado">El Calzado</option>
              <option value="El Camal">El Camal</option>
              <option value="El Condado">El Condado</option>
              <option value="El Dorado">El Dorado</option>
              <option value="El Ejido">El Ejido</option>
              <option value="El Inca">El Inca</option>
              <option value="El Panecillo">El Panecillo</option>
              <option value="El Pintado">El Pintado</option>
              <option value="El Tejar">El Tejar</option>
              <option value="El Troje">El Troje</option>
              <option value="Guajalo">Guajalo</option>
              <option value="Guamaní">Guamaní</option>
              <option value="Guápulo">Guápulo</option>
              <option value="Iñaquito">Iñaquito</option>
              <option value="Kennedy">Kennedy</option>
              <option value="La Argelia">La Argelia</option>
              <option value="La Bota">La Bota</option>
              <option value="La Ecuatoriana">La Ecuatoriana</option>
              <option value="La Ferroviaria">La Ferroviaria</option>
              <option value="La Floresta">La Floresta</option>
              <option value="La Florida">La Florida</option>
              <option value="La Forestal">La Forestal</option>
              <option value="La González Suárez">La González Suárez</option>
              <option value="La Guaragua">La Guaragua</option>
              <option value="La Libertad">La Libertad</option>
              <option value="La Loma Grande">La Loma Grande</option>
              <option value="La Magdalena">La Magdalena</option>
              <option value="La Marín">La Marín</option>
              <option value="La Mariscal">La Mariscal</option>
              <option value="La Mena">La Mena</option>
              <option value="La Ronda">La Ronda</option>
              <option value="La Tola">La Tola</option>
              <option value="La Vicentina">La Vicentina</option>
              <option value="La Victoria">La Victoria</option>
              <option value="Las Casas">Las Casas</option>
              <option value="Lucha de los Pobres">Lucha de los Pobres</option>
              <option value="Luluncoto">Luluncoto</option>
              <option value="Manuelita Saenz">Manuelita Saenz</option>
              <option value="Mena de Hierro">Mena de Hierro</option>
              <option value="Miraflores">Miraflores</option>
              <option value="Monjas">Monjas</option>
              <option value="Nueva Aurora">Nueva Aurora</option>
              <option value="Oriente Quiteño">Oriente Quiteño</option>
              <option value="Pifo">Pifo</option>
              <option value="Ponceano">Ponceano</option>
              <option value="Puembo">Puembo</option>
              <option value="Puengasí">Puengasí</option>
              <option value="Quito Norte">Quito Norte</option>
              <option value="Quito Sur">Quito Sur</option>
              <option value="Quito Tennis">Quito Tennis</option>
              <option value="Quitumbe">Quitumbe</option>
              <option value="Reino de Quito">Reino de Quito</option>
              <option value="Rumiñahui">Rumiñahui</option>
              <option value="Sangolquí">Sangolquí</option>
              <option value="San Bartolo">San Bartolo</option>
              <option value="San Carlos">San Carlos</option>
              <option value="San Diego">San Diego</option>
              <option value="San Juan">San Juan</option>
              <option value="San Marcos">San Marcos</option>
              <option value="San Matin">San Matin</option>
              <option value="San Rafael">San Rafael</option>
              <option value="Santa Rita">Santa Rita</option>
              <option value="Solanda">Solanda</option>
              <option value="Tababela">Tababela</option>
              <option value="Toctiuco">Toctiuco</option>
              <option value="Tumbaco">Tumbaco</option>
              <option value="Turubamba">Turubamba</option>
              <option value="Villaflora">Villaflora</option>
            </select>
          </div> -->
        <div class="mapa">
          <label for="mapa" class="color3">
            Ubica tu dirección en el mapa
          </label>
          <div class="form-group">
            <input placeholder="Busca un lugar..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control" #search [formControl]="searchControl" />
          </div>
          <button type="button" style="position: absolute; z-index: 1" (click)="getGeoLocation()">
            Encuentra mi dirección
          </button>
          <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="setMarker($event); getAddress(markLat, markLng)"
            [zoom]="18">
            <agm-marker [latitude]="markLat" [longitude]="markLng"></agm-marker>
          </agm-map>
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15959.183312968535!2d-78.48655964999999!3d-0.19238725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1584582805316!5m2!1ses-419!2sec"
            height="450"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe> -->
        </div>
        <div class="col-1">
          <label class="color3">Dirección exacta del comercio</label>
          <input type="text" formControlName="address" placeholder="Ej: Cristobal de Acuña e11 8 y Av. 10 de agosto" />
        </div>
        <div class="col-1">
          <label class="color3">Referencia del comercio</label>
          <input type="text" formControlName="reference" placeholder="Ej: diagonal al redondel." />
        </div>
        <div class="col-1">
          <label class="color3">Breve descripción de tu comercio</label>
          <textarea formControlName="commerceDescription"
            placeholder="Ej: Somos una tienda de barrio, donde podrás encontrar todo tipo de alimientos y bebidas."></textarea>
        </div>

        <div class="col-1">
          <label class="color3 background-color1 white" for="foto"><i class="fas fa-camera white"></i> Foto de tu
            local</label>
          <input type="file" name="" id="foto" (change)="onFileChangedRecibo($event)" />
          <img *ngIf="reciboURL" [src]="reciboURL | safe: 'resourceUrl'" height="200" />
        </div>

        <input type="submit" name="" class="background-color1 white center button center-button" value="REGISTRARSE"
          (click)="submitCommerce()" />
      </form>
    </div>
    <h2 class="center color1">
      ¿Deseas buscar un establecimiento cerca?
    </h2>
    <div class="box-hover-container">
      <a href="" class="button center-button background-disabled white center buscar">
        <i class="fas fa-search"></i> BUSCAR ESTABLECIMIENTO
      </a>
      <div class="box arrow-top center">
        Próximamente
      </div>
    </div>
  </div>
</section>