<app-register-info></app-register-info>
<app-instructions></app-instructions>
<app-register-banner></app-register-banner>
<app-quienes-somos></app-quienes-somos>
<section id="section-5-registro">
  <div class="container">
    <div class="form-container">
      <h2 class="color1 center bebas">
        Registra tu local comercial
      </h2>
      <div style="display: inline-flex;">
        <h2 class="color2 h2-small center bebas">
          o negocio de la esquina
          <span class="h2-big bottom"
            >GRATIS
            <i
              class="fas fa-question-circle fa-lg title-icon"
              matTooltip="Esta es una plataforma de intercambio de bienes y servicios, evita hacer anuncios de compra y venta de bienes usados, servicios ocasionales o temas no relacionados con esta emergencia."
            ></i
          ></span>
        </h2>
      </div>
      <div class="hr-center background-color1"></div>
      <form [formGroup]="registerForm">
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Nombre</label>
            <input
              type="text"
              formControlName="ownerName"
              placeholder="Ingresa tu nombre"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerName')"
            />
            <span
              class="help-block"
              *ngIf="
                registerForm?.get('ownerName').errors?.required &&
                registerForm?.get('ownerName').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Apellido</label>
            <input
              type="text"
              formControlName="ownerLastName"
              placeholder="Ingresa tu apellido"
              (blur)="onCapitalizeLetter($event.target.value, 'ownerLastName')"
            />
            <span
              class="help-block"
              *ngIf="
                registerForm.get('ownerLastName').errors?.required &&
                registerForm.get('ownerLastName').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Teléfono celular</label>

            <input
              type="text"
              formControlName="phone"
              placeholder="Ej: 0995975573"
            />
            <span
              *ngIf="registerForm.hasError('pattern', 'phone')"
              class="help-block"
              >Su teléfono debe contener solo números</span
            >
            <br *ngIf="registerForm.hasError('pattern', 'phone')" />
            <span
              *ngIf="registerForm.hasError('minlength', 'phone')"
              class="help-block"
              >Su teléfono debe contener 10 números</span
            >
            <span
              class="help-block"
              *ngIf="
                registerForm.get('phone').errors?.required &&
                registerForm.get('phone').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Nombre del comercio</label>
            <input
              type="text"
              name="comercio"
              placeholder="Ingresa el nombre de tu negocio (máximo 40 caracteres)"
              formControlName="commerceName"
              (blur)="onCapitalizeLetter($event.target.value, 'commerceName')"
            />
            <span
            class="help-block"
            *ngIf="
              registerForm.get('commerceName').errors?.required &&
              registerForm.get('commerceName').touched
            "
            >*Campo Obligatorio</span
          >
          <br  *ngIf="registerForm.get('commerceName').value?.length === 40">
          <span
          *ngIf="registerForm.get('commerceName')?.value?.length === 40"
          class="warning-block"
            >*Has llegado máximo de caracteres permitidos</span
          >
          </div>
        </div>
        <div class="col-2-equals">
          <div class="col">
            <label class="color3">Categoría del comercio</label>
            <select formControlName="category">
              <option value="">Seleccionar</option>
              <option
                [ngValue]="category.commerceCategory"
                *ngFor="let category of commerceCategories"
                >{{ category.commerceCategory }}</option
              >
            </select>
            <span
              class="help-block"
              *ngIf="
                registerForm.get('category').errors?.required &&
                registerForm.get('category').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3">Ciudad</label>
            <select
              formControlName="city"
              (change)="onSetCityMap($event.target.value)"
            >
              <option value="">Seleccionar</option>
              <option *ngFor="let city of cities" [ngValue]="city">{{
                city
              }}</option>
            </select>
            <span
              class="help-block"
              *ngIf="
                registerForm.get('city').errors?.required &&
                registerForm.get('city').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
        </div>
        <div class="col-3-equals">
          <div class="col">
            <label class="color3">Días de Apertura</label>
            <select formControlName="frecuency">
              <option value="">Seleccionar</option>
              <option
                *ngFor="let frecuency of frecuencyOptions"
                [ngValue]="frecuency"
                >{{ frecuency }}</option
              >
            </select>
            <span
              class="help-block"
              *ngIf="
                registerForm.get('frecuency').errors?.required &&
                registerForm.get('frecuency').touched
              "
              >*Campo Obligatorio</span
            >
          </div>
          <div class="col">
            <label class="color3" for="horarios">Horario de Apertura</label>
            <div class="toggle-example" style="display: inline-flex;">
              <input
                type="text"
                [ngxTimepicker]="toggleTimepicker"
                formControlName="hourOpen"
                [disableClick]="false"
                placeholder="Seleccionar"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="toggleTimepicker"
              ></ngx-material-timepicker-toggle>
              <ngx-material-timepicker
                #toggleTimepicker
              ></ngx-material-timepicker>
            </div>
            <span
              class="help-block"
              *ngIf="registerForm.hasError('hourLessError', 'hourOpen')"
              >Atención: El horario de apertura debe ser menor al horario de
              cierre</span
            >
          </div>
          <div class="col">
            <label class="color3" for="horarios">Horario de cierre</label>
            <div class="toggle-example" style="display: inline-flex;">
              <input
                type="text"
                placeholder="Seleccionar"
                [ngxTimepicker]="toggleTimepicker2"
                formControlName="hourClose"
                [disableClick]="false"
                readonly
              />
              <ngx-material-timepicker-toggle
                [for]="toggleTimepicker2"
              ></ngx-material-timepicker-toggle>
              <ngx-material-timepicker
                #toggleTimepicker2
              ></ngx-material-timepicker>
            </div>
            <span
              class="help-block"
              *ngIf="registerForm.hasError('hourGreatError', 'hourClose')"
              >*Atención: El horario de cierre tiene que ser mayor al horario de
              apertura</span
            >
          </div>
        </div>
        <div class="mapa">
          <label for="mapa" class="color3">
            Ubica tu dirección en el mapa
          </label>
          <div style="margin-bottom: 10px; display: inline-flex;">
            <button
              class="color3 background-color1 white button right"
              type="button"
              (click)="getGeoLocation()"
            >
              Marcar mi dirección actual
            </button>
            <i
              class="fas fa-question-circle far"
              style="margin-left: 3px;"
              matTooltip="Esta opción permite tomar tu dirección actual exacta, directo de la ubicación GPS del dispositivo."
            ></i>
          </div>
          <div class="form-group">
            <label class="color3" style="font-size: 15px;"
              >Ó busca una referencia en el mapa</label
            >
            <input
              placeholder="Busca un lugar..."
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              class="form-control"
              #search
              [formControl]="searchControl"
            />
          </div>
          <app-map-os (latlng)="onMapClick($event)" [center]="center" [zoom]="mapZoom" ></app-map-os>
          <agm-map
            [latitude]="lat"
            [longitude]="lng"
            (mapClick)="setMarker($event); getAddress(markLat, markLng)"
            [zoom]="mapZoom"
            [scrollwheel]="null"
            [gestureHandling]="'cooperative'"
            [streetViewControl]="false"
            [mapTypeControl]="true"
            [clickableIcons]="false"
            [styles]="myStyles"
          >
            <agm-marker [latitude]="markLat" [longitude]="markLng"></agm-marker>
          </agm-map>
        </div>
        <div class="col-1">
          <label class="color3"
            >Dirección exacta del comercio<i
              class="fas fa-question-circle near"
              matTooltip="Esta opción permite ajustar manualmente la dirección de tu comercio, en caso la opción mostrada en el mapa no sea la correcta o esté incompleta"
            ></i
          ></label>
          <input
            type="text"
            formControlName="address"
            placeholder="Ej: Cristobal de Acuña e11 8 y Av. 10 de agosto"
          />
        </div>
        <div class="col-1">
          <label class="color3">Referencia del comercio</label>
          <input
            type="text"
            formControlName="reference"
            placeholder="Ej: diagonal al redondel."
          />
        </div>
        <div class="col-1">
          <label class="color3">Breve descripción de tu comercio</label>
          <textarea
            formControlName="commerceDescription"
            placeholder="Ej: Somos una tienda de barrio, donde podrás encontrar todo tipo de alimentos y bebidas. (Máximo 90 caracteres)"
          ></textarea>
        </div>
        <div class="col-1">
          <label class="color3"
            >Ingresa tu correo electrónico de contacto:</label
          >
          <input
            type="email"
            placeholder="ejemplo@gmail.com"
            formControlName="ownerEmail"
          />
          <span
            class="help-block"
            *ngIf="
              registerForm.get('ownerEmail').errors?.required &&
              registerForm.get('ownerEmail').touched
            "
            >*Campo Obligatorio</span
          ><br />
          <span
            class="help-block"
            *ngIf="registerForm.get('ownerEmail').errors?.email"
            >*Ingresa una dirección de correo electronico válida</span
          >
        </div>

        <div class="col-1">
          <span class="color3 optional-text">(No obligatorio, sin embargo, podría aumentar el interés de tus clientes)</span>
          <label class="color3 background-color1 white" style="margin-top: 6px" for="foto"
            ><i class="fas fa-camera white"></i> Sube una foto de tu producto o
            servicio</label
          >
          <input
            type="file"
            name=""
            id="foto"
            (change)="onFileChangedRecibo($event)"
          />
          <img *ngIf="reciboURL" [src]="reciboURL | safe: 'resourceUrl'" />
        </div>
        <br>
        <div class="col">
          <div style="display: inline-flex;">
            <label class="color3 center" for="useConditionCheck"
              >Acepto las
              <a
                href="https://todosmascerca.com.ec/politicas-de-uso"
                target="_blank"
                >políticas de uso</a
              >
              de la plataforma</label
            >
            <input
              type="checkbox"
              formControlName="useConditions"
              id="useConditionCheck"
              style="margin-left: 10px; padding-top: 3px;"
            />
          </div>
        </div>
        <button
          *ngIf="!isLoading"
          [disabled]="registerForm.invalid"
          class="background-color1 white center button center-button"
          (click)="
              this.registerForm.valid &&
              operar(this.registerForm.get('commerceName').value)
          "
          [ngStyle]="{
            opacity: registerForm.valid ? '1' : '0.5',
            cursor:
              registerForm.valid
                ? 'pointer'
                : 'not-allowed'
          }"
        >
          REGISTRARSE
        </button>
        <div class="col center" *ngIf="isLoading">
          <img src="assets/loading.gif" class="img-gif" />
        </div>
        <span
          *ngIf="
            registerForm.hasError('isChecked', 'useConditions') ||
            registerForm.get('useConditions').invalid
          "
          class="help-block"
          >Debe aceptar las condiciones para poder registrarse!</span
        ><br />
        <span class="help-block" *ngIf="registerForm.invalid"
          >*Debe llenar todos los campos para continuar con el registro</span
        >
        <br *ngIf="invalidControls.length > 0 || imagenSeleccionada" />
        <div *ngIf="invalidControls.length > 0">
          <span class="help-block">Revise los siguientes campos: </span>
          <span class="help-block" *ngFor="let name of invalidControls"
            >{{ name }},
          </span>
          <!-- <span class="help-block" *ngIf="!imagenSeleccionada"
            >Foto de tu local o producto</span
          > -->
        </div>
      </form>
    </div>
   <!--  <h2 class="center color1">
      ¿Deseas buscar un establecimiento cerca?
    </h2> -->
    <!-- <div class="box-hover-container">
      <a
        [routerLink]="['/home']"
        class="button center-button background-color3 white center buscar"
      >
        <i class="fas fa-search"></i> BUSCAR ESTABLECIMIENTO
      </a>
    </div> -->
  </div>
</section>
