<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="col-4-equals">
        <div class="col">
          <i class="fas fa-map-marker-alt color1"></i>
          <p class="color3 roboto">Ecuador</p>
        </div>
        <div class="col">
          <i class="fas fa-wallet color1"></i>
          <p class="color3 roboto"> Pagos a negociar con el usuario</p>
        </div>
        <div class="col">
          <i class="fas fa-motorcycle color1"></i>
          <p class="color3 roboto">Delivery a coordinar con el usuario
        </div>
        <div class="col">
          <div class="box-hover-container">
            <a class="button center-button background-disabled white center buscar" style="font-size: 10px;">
              <i class="fas fa-search"></i> BUSCAR ESTABLECIMIENTO
            </a>
            <div class="box arrow-top center box-top">
              Próximamente
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-brand puntero" [routerLink]="['/registrar']">  
    <img src="assets/01-logo-color.svg">
  </div>
</header>
