<div *ngIf="!cancelConfirmed">
<div *ngIf="commerces.length === 1">
  <div *ngIf="eliminarSi == false" class="container">
    <h5>Eliminar</h5>
    <p style="margin: 10px;">
      Está seguro que desea <strong>Eliminar</strong> a?
    </p>
    <div style="margin: 10px 15px;">
      <ul>
        <li *ngFor="let commerce of commerces">{{ commerce.commerceName }}</li>
      </ul>
    </div>
    <div style="text-align: center;">
      <button
        type="button"
        class="btn btn-primary mx-2"
        (click)="eliminarSiMethod()"
      >
        Si, Eliminar!
      </button>
      <button type="button" class="btn red" (click)="close()">
        Cancelar
      </button>
    </div>
  </div>

  <div *ngIf="eliminarSi == true" class="container">
    <h5>Eliminar</h5>
    <p>Está seguro que desea <strong>Eliminar</strong> a?</p>
    <div style="margin: 10px 15px;">
      <ul>
        <li *ngFor="let commerce of commerces">{{ commerce.commerceName }}</li>
      </ul>
    </div>
    <p>Ingrese el nombre del comercio para poder eliminarlo</p>
    <div style="text-align: center;">
      <input
        class="name-input"
        type="text"
        placeholder=" Nombre del comercio"
        (keyup)="buscarEmpresa(buscarTexto.value)"
        #buscarTexto
      />
      <br />
      <button
        type="button"
        [disabled]="!activarBoton"
        [ngStyle]="{
          opacity: activarBoton ? '1' : '0.5',
          cursor: activarBoton ? 'pointer' : 'not-allowed'
        }"
        class="btn btn-primary mx-2"
        (click)="eliminarEmpresa()"
      >
        Si, Eliminar!
      </button>
      <br *ngIf="!activarBoton" />
      <p class="help-block" *ngIf="!activarBoton">
        El nombre del comercio ingresado no corresponde con el que desea
        eliminar
      </p>
      <button type="button" class="btn red" (click)="close()">
        Cancelar
      </button>
    </div>
  </div>
</div>


<div *ngIf="commerces.length > 1">
  <div *ngIf="eliminarSi == false" class="container">
    <h5>Eliminar</h5>
    <p>
      Está seguro que desea <strong>Eliminar</strong> a los siguientes
      comercios?
    </p>
    <div style="margin: 10px 15px;">
      <ul>
        <li *ngFor="let commerce of commerces">{{ commerce.commerceName }}</li>
      </ul>
    </div>
    <div style="text-align: center;">
      <button
        type="button"
        class="btn btn-primary mx-2"
        (click)="eliminarSiMethod()"
      >
        Si, Eliminar!
      </button>
      <button type="button" class="btn red" (click)="close()">
        Cancelar
      </button>
    </div>
  </div>
  <div *ngIf="eliminarSi == true" class="container">
    <h5>Eliminar</h5>
    <p>Está seguro que desea <strong>Eliminar</strong> a?</p>
    <div style="margin: 10px 15px;">
      <ul>
        <li *ngFor="let commerce of commerces">{{ commerce.commerceName }}</li>
      </ul>
    </div>
    <p>Escriba la palabra 'confirmar' para continuar:</p>
    <div style="text-align: center;">
      <input
        class="name-input"
        type="text"
        placeholder=""
        (keyup)="confirmarEliminarTodos(buscarTexto.value)"
        #buscarTexto
      />
      <br />
      <button
        type="button"
        [disabled]="!activarBoton"
        [ngStyle]="{
          opacity: activarBoton ? '1' : '0.5',
          cursor: activarBoton ? 'pointer' : 'not-allowed'
        }"
        class="btn btn-primary mx-2"
        (click)="eliminarEmpresa()"
      >
        Si, Eliminar!
      </button>
      <br *ngIf="!activarBoton" />
      <p class="help-block" *ngIf="!activarBoton">
        La palabra ingresada es incorrecta
      </p>
      <button type="button" class="btn red" (click)="close()">
        Cancelar
      </button>
    </div>
  </div>
</div>
</div>
<div class="second-dialog" *ngIf="cancelConfirmed">
  <div class="header">
    <h5>Eliminar comercios</h5>
    <h6>El comercio se ha eliminado con éxito.</h6>
  </div>
  <div class="buttons">
    <div>
      <button class="btn_ok" (click)="close('deleted')"> Ok</button>
    </div>

  </div>

</div>
