.buttons {
  margin: auto;
  text-align: center;
}
.btn {
  margin-bottom: 10px;
  background-color: #2e4a5c;
  color: #fff;
  width: 80%;
  padding: 10px 0px;
  cursor: pointer;
}
.div_cancelar {
  text-align: right;
}

.red {
  background-color: red;
  color: white;
}

.name-input {
  margin: 10px;
  width: 80%;
  height: 30px;
}

.help-block {
  color: red;
  font-size: small;
}

