.header {
  margin-bottom: 10px;
  text-align: center;
}

.buttons {
  margin: auto;
  text-align: center;
}
.btn {
  margin-bottom: 10px;
  background-color: #2e4a5c;
  color: #fff;
  width: 80%;
  padding: 10px 0px;
  cursor: pointer;
}
.div_cancelar {
  text-align: right;
}
.btn_cancel {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer;
}
