<div class="container">
    <h5>Descarga de información</h5>
    <h6>Opciones de exportación</h6>
    <div class="buttons">
        <div>
            <button class="btn"> Seleccionado </button>
        </div>
        <div>
            <button class="btn"> Página Actual </button>
        </div>
        <div>
            <button class="btn"> Todo </button>
        </div>
    </div>
    <div class="div_cancelar">

        <button class="btn_cancel" (click)="close()"> Cancelar</button>
    </div>
</div>