<main>
    <section id="section-1-confirma">
        <h3 class="color3 center bebas">
            Confirma tus datos
        </h3>
        <h2 class="color1 center bebas">
            ANTES DE ENVIARLOS
        </h2>
        <div class="hr-center background-color1"></div>
    </section>
    <section id="section-2-confirma">
        <div class="container">
            <div class="container-confirmacion">
                <h1 class="color1 center bebas">
                    Verifica que los datos
                </h1>
                <h2 class="color2 center bebas">
                    ingresados sean los correctos
                </h2>
                <div class="hr-center background-color2"></div>
                <div class="col-2-equals">
                    <div class="col">
                        <h6 class="color3 regular">Nombre</h6>
                        <p class="color3 dato">
                            {{comerceVerify.ownerName}}
                        </p>
                    </div>
                    <div class="col">
                        <h6 class="color3 regular">Apellido</h6>
                        <p class="color3 dato">
                            {{comerceVerify.ownerLastName}}
                        </p>
                    </div>
                </div>
                <div class="col-2-equals">
                    <div class="col">
                        <h6 class="color3">Teléfono celular</h6>
                        <p class="color3 dato">
                            {{comerceVerify.phone}}
                        </p>
                    </div>
                    <div class="col">
                        <h6 class="color3">Nombre del comercio</h6>
                        <p class="color3 dato">
                            {{comerceVerify.commerceName}}
                        </p>
                    </div>
                </div>
                <div class="col-2-equals">
                    <div class="col">
                        <h6 class="color3">Categoria del comercio</h6>
                        <p class="color3 dato">
                            {{comerceVerify.category}}
                        </p>
                    </div>
                    <div class="col">
                        <h6 class="color3">Horarios de atención</h6>
                        <p class="color3 dato">
                            {{getScheduleAttetion()}}
                        </p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="col">
                        <h6 class="color3">Direccion exacta del comercio</h6>
                        <p class="color3 dato">
                            {{comerceVerify.address}}
                        </p>
                    </div>
                </div>
                <div class="mapa">
                    <h6 for="mapa" class="color3">
                        Tu dirección en el mapa
                    </h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15959.183312968535!2d-78.48655964999999!3d-0.19238725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1584582805316!5m2!1ses-419!2sec"
                        height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
                <div class="col-1">
                    <h6 class="color3 regular">Referencia del comercio</h6>
                    <p class="color3 dato">
                        {{comerceVerify.reference}}
                    </p>
                </div>
                <div class="col-1">
                    <h6 class="color3 regular">Breve descripción de tu comercio</h6>
                    <p class="color3 descripcion">
                        {{comerceVerify.commerceDescription}}
                    </p>
                </div>
                <div class="col-1">
                    <h6 class="color3">Foto de tu local</h6>
                    <img src="{{comerceVerify.commercePhoto}}" alt="" class="foto-local img-center">
                </div>
                <div class="col-2-equals">
                    <div class="col">
                        <a href="registro.html" class="volver background-color4 white center button center-button"
                            (click)="changeRegisterPage()">Volver</a>
                    </div>
                    <div class="col">
                        <input type="submit" name="" class="background-color1 white center button center-button"
                            value="REGISTRARSE" (click)="postComerce()">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>