<section id="section-1-registro">
  <h1 class="color1 center bebas">
    Hoy debemos estar más cerca
  </h1>
  <h2 class="color2 h2-small center bebas">
    Registra a tu comercio <span class="h2-big">GRATIS</span>
  </h2>
  <div class="hr-center background-color1"></div>
  <div class="container">
    <div class="col-2-equals">
      <div class="col">
        <h4 class="color3">PLATAFORMA <b>SOLIDARIA</b></h4>
        <h2 class="color1">
          REGÍSTRATE GRATIS
        </h2>
        <p class="color3">
          Aquí puedes registrarte de forma gratuita, queremos ayudar a los
          pequeños y medianos comercios así como trabajadores independientes.
          REGÍSTRATE AHORA!
        </p>
        <a
          class="center white background-color1 button"
          (click)="scrollToForm()"
        >
          REGISTRARME
        </a>
      </div>
      <div class="col">
        <img src="assets/yalanzamos-02.png" class="img-center" alt="" />
      </div>
    </div>
  </div>
</section>
