#section-1-registro{
	padding: 30px 10px;
}

#section-1-registro .col-2-equals{
	align-items: center;
}
#section-1-registro .col-2-equals .col img{
	max-width: 400px;
}
#section-1-registro .button {
  cursor: pointer;
}
.img-center {
  height: 650px;
}
