<section id="section-1-buscar">
  <div id="popup" class="show-popup-mapa-home">
    <div class="popup-overlay">
      <div class="popup-box-out background-white">
        <div class="popup-box-in">
          <p
            id="close-popup-mapa-home"
            class="background-color3 white center"
            (click)="onSearchCommerce()"
          >
            x
          </p>
          <h6 class="center color1">
            Para una mejor experiencia, mueve el pin a la ubicación exacta.
          </h6>
          <app-map-os (mapClick)="onMapClick($event)" [center]="center" class="small-map"></app-map-os>
          <button
          id="confirmar-ubicacion"
          class="button center-button background-color5 white center confirmar"
          (click) = "onSearchCommerce()"
        >
          CONFIRMAR UBICACIÓN
        </button>
        <!-- <button
        *ngIf="type==='addressOK'"
        id="confirmar-ubicacion"
        class="button center-button background-color3 white center confirmar"
        (click) = "getGeoLocation()"
      >
        Mi ubicación actual <i class="fas fa-location-arrow"></i>
      </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
