<section id="section-3-registro" class="background-color1">
  <h2 class="white center">
    REVISA NUESTRO INSTRUCTIVO
  </h2>
  <p class="white center">
    Revisa nuestro instructivo y consejos, antes de contactarte con tus clientes.
  </p>
  <div class="hr-center background-white"></div>
  <div class="center">
    <i class="fas fa-warehouse white"></i>
  </div>
  <a href="https://www.todosmascerca.com/1descargas/TMCMX.pdf" download target="_blank" class="center white background-color2 button-bordered center-button">
    Descárgalo aquí
  </a>
</section>
