<div class="popup-container">
  <div class="image-container">
    <img src="assets/popup-error.png" class="imge-popup" />
  </div>
  <div style="text-align: center;">
    <h2 class="popup-title">Oops!</h2>
  </div>
  <div style="text-align: center; margin-top: 15px">
    <p class="popup-description">
      Aún estamos en etapa de registro en tu ciudad, comparte esta iniciativa
      para que más establecimientos formen parte de esta red solidaria.
    </p>
  </div>
  <div style="text-align: center; margin-top: 15px">
    <button (click)="close('ok')" class="ok-button">Ok</button>
  </div>
</div>
