.resultados-container .col-left .lista-locales-out .lista-locales-in h4 {
  margin-top: 120px;
}
.resultados-container .col-left .lista-locales-out .lista-locales-in {
  padding: 10px;
}
.resultados-container .col-left .lista-locales-out .lista-locales-in li {
  padding: 10px;
}
.resultados-container .col-left .lista-locales-out .col-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-left {
  width: 20%;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-left
  .img-container {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: auto;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-left
  .img-container
  img {
  width: 270px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right {
  width: 80%;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right p {
  margin-top: 10px;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  #id-negocio {
  font-size: 12px;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .whatsapp-button {
  display: flex;
  align-items: center;
  max-width: 180px;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .whatsapp-button
  .col-left {
  width: 50px;
  font-size: 30px;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .whatsapp-button
  .col-right
  p {
  font-size: 10px;
  margin-top: 0;
  line-height: 5px;
}

.resultados-container .col-left .lista-locales-out .col-2 {
  flex-direction: column;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .tipo-negocio,
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .titulo-comercio {
  text-align: left;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .whatsapp-button {
  margin: 20px auto;
}

.lista-locales-out .col-2 {
  flex-direction: column;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-left
  .img-container {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: auto;
}
.lista-locales-out .col-2 h5 {
  text-align: center;
  margin-top: 5px;
}
.lista-locales-out .col-2 .tipo-negocio {
  text-align: center;
}
.resultados-container
  .col-left
  .lista-locales-out
  .col-2
  .col-right
  .whatsapp-button {
  margin: 10px auto;
  padding: 5px 10px 5px;
}

/**/

/*imagenes*/
.img-center {
  display: block;
  margin: auto;
}
