
.resultados-container{
	display: flex;
	position: relative;
}
.resultados-container .col-left,
.resultados-container .col-right{
	width: 50%;

}
.resultados-container .col-left .recomendaciones{
	padding: 10px;
}
#lista-locales{
	width: 100%;
	position: relative;
}
#mapa{
	width: 0;
}
.resultados-container .col-left .lista-locales-out .lista-locales-in h4{
	margin-top: 120px;
}
.resultados-container .col-left .lista-locales-out .lista-locales-in{
	padding: 10px;
}
.resultados-container .col-left .lista-locales-out .lista-locales-in li{
	padding: 10px;
}
.resultados-container .col-left .lista-locales-out .col-2{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-left{
	width: 20%;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-left .img-container{
	border-radius: 50%;
	width: 130px;
	height: 130px;
	overflow: hidden;
	margin: auto;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-left .img-container img{
	width: 270px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right{
	width: 80%;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right p{
	margin-top: 10px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right #id-negocio{
	font-size: 12px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right .whatsapp-button{
	display: flex;
	align-items: center;
	max-width: 180px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right .whatsapp-button .col-left{
	width: 50px;
	font-size: 30px;
}
.resultados-container .col-left .lista-locales-out .col-2 .col-right .whatsapp-button .col-right p{
	font-size: 10px;
	margin-top: 0;
	line-height: 5px;
}
#lista-locales{
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
}
#mapa{
	transition: width 0.5s;
	-webkit-transition: width 0.5s;
}
.hide-locales{
	width: 0!important;
	overflow: hidden;
	height: 90vh;
}
.expand-map{
	width: 100%!important;
	position: absolute;
	height: 100%;
}

/**/

/*imagenes*/
.img-center {
  display: block;
  margin: auto;
}
