<section id="section-2-registro">
  <h2 class="color1 center">
    ¿Cómo funciona?
  </h2>
  <p class="color3 center">
    La mejor forma de comunicarte con el usuario al instante
  </p>
  <div class="hr-center background-color1"></div>
  <div class="container">
    <div class="col-3-equals">
      <div class="col">
        <h3 class="color3 center black">
          1
        </h3>
        <h6 class="center color3">
          El cliente busca lo que necesita según la colonia donde vive.
        </h6>
        <div class="center">
          <i class="fas fa-utensils color1"></i>
        </div>
      </div>
      <div class="col">
        <h3 class="color3 center black">
          2
        </h3>
        <h6 class="center color3">
          El cliente se comunica con el comercio por Whatsapp.
        </h6>
        <div class="center">
          <i class="fab fa-whatsapp color1"></i>
        </div>
      </div>
      <div class="col">
        <h3 class="color3 center black">
          3
        </h3>
        <h6 class="center color3">
          Comercio y cliente coordinan la entrega de los productos por Whatsapp.
        </h6>
        <div class="center">
          <i class="fas fa-motorcycle color1"></i>
        </div>
      </div>
    </div>
  </div>
</section>
