<section id="section-4-registro">
  <!-- <h2 class="color1 center">
    ¿Quienes somos?
  </h2>
  <p class="color3 center">
    Conoce la iniciativa de todo más cerca y porque lo hacemos
  </p>
  <div class="hr-center background-color1"></div> -->
  <div class="container">
    <div class="col-2-equals">
      <div class="col">
        <img
          src="assets/03-quienes-somos.jpg"
          class="img-center"
          alt="todo mas cerca"
        />
      </div>
      <div class="col">
        <img
          src="assets/01-logo-color.png"
          alt="todo más cerca"
          class="img-center logo"
        />
        <p class="center color3">
          <br />
          Todos más cerca es una plataforma solidaria con la cual queremos
          apoyar a que comercios puedan ofrecer sus productos y servicios a
          través de WhatsApp.
        </p>
        <p class="center color3">
          <br />
          De una manera sencilla y fácil de utilizar podrás establecer una
          conexión directa con tus clientes.
        </p>
        <div class="col-3-equals">
          <div class="col">
            <div class="center">
              <i class="far fa-smile color1"></i>
              <p class="black color1 center">
                Atención
              </p>
              <p class="center color3">
                Atención directa entre el comercio y el usuario
              </p>
            </div>
          </div>
          <div class="col">
            <div class="center">
              <i class="far fa-thumbs-up color1"></i>
              <p class="black color1 center">
                Ayuda
              </p>
              <p class="center color3">
                Ayúdanos a ayudar a los pequeños comercios
              </p>
            </div>
          </div>
          <div class="col">
            <div class="center">
              <img src="assets/ayudasolidaria-05.png" alt="" class="icon-img">
            </div>
            <p class="black color1 center">
              Apoyo Solidario
            </p>
            <p class="center color3">
              El registro en nuestra plataforma es totalmente gratuito
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
