<section id="section-4-registro">
  <!-- <h2 class="color1 center">
    ¿Quienes somos?
  </h2>
  <p class="color3 center">
    Conoce la iniciativa de todo más cerca y porque lo hacemos
  </p>
  <div class="hr-center background-color1"></div> -->
  <div class="container">
    <div class="col-2-equals">
      <div class="col">
        <img src="assets/03-quienes-somos.jpg" class="img-center" alt="todo mas cerca">
      </div>
      <div class="col">
        <img src="assets/01-logo-color.png" alt="todo más cerca" class="img-center logo">
        <p class="center color3">
            <br>
          Todo más cerca es una plataforma solidaria con la cual queremos reactivar la economía y los pequeños negocios obligados a cerrar debido a la crisis que estamos pasando a nivel mundial.
        </p>
        <p class="center color3"><br>
          Con tu aporte voluntario podremos sacar adelante este proyecto que ayudará a pequeños comerciantes y microempresarios a no cerrar sus puertas y continuar adelante el tiempo que nos tome sobrellevar esta crisis.
        </p>
        <div class="col-3-equals">
          <div class="col">
            <div class="center">
              <i class="far fa-lightbulb color1"></i>
            </div>
            <p class="black color1 center">
              Tecnología
            </p>
            <p class="center color3">
              Plataforma rápida y sencilla de fácil uso
            </p>
          </div>
          <div class="col">
            <div class="center">
              <i class="far fa-smile color1"></i>
              <p class="black color1 center">
                Atención
              </p>
              <p class="center color3">
                Atención directa entre el comercio y el usuario
              </p>
            </div>
          </div>
          <div class="col">
            <div class="center">
              <i class="far fa-thumbs-up color1"></i>
              <p class="black color1 center">
                Ayuda
              </p>
              <p class="center color3">
                Ayudanos a ayudar a los pequeños comercios
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
