
.buttons {
  margin: auto;
  text-align: center;
}
.btn {
  margin-bottom: 10px;
  background-color: #2e4a5c;
  color: #fff;
  width: 80%;
  padding: 10px 0px;
  cursor: pointer;
}
.red {
  background-color: red;
  color: white;
}

/*============================================================*/
.header {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.header h5 {
  margin-bottom: 10px;
}

.buttons {
  margin: auto;
  text-align: center;
}

.btn_ok {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #2e4a5c;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}


