/* You can add global styles to this file, and also import other style files */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
						GLOBALES
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import "~ng-pick-datetime/assets/style/picker.min.css";
/*Tipogrfias*/
.roboto{
	font-family: 'Roboto',sans-serif;
}
.bebas{
	font-family: 'Bebas Neue',sans-serif;
}
/*Anchos te fuente*/
.regular{
	font-weight: 400;
}
.bold{
	font-weight: 700;
}
.black{
	font-weight: 900;
}
/*Tamaños de fuente*/
h1{
	font-size: 55px;
	line-height: 60px;
}

h2{
	font-size: 50px;
	line-height: 55px;
}
.h2-small{
	font-size: 40px!important;
}
.h2-big{
	font-size: 50px;
}
h3{
	font-size: 35px;
	line-height: 40px;
}
h4{
	font-size: 28px;
	line-height: 33px;
}
h5{
	font-size: 25px;
	line-height: 30px;
}
h6{
	font-size: 20px;
	line-height: 25px;
}
p{
	font-size: 15px;
	line-height: 20px;
}
.p2{
	font-size: 13px;
	line-height: 18px;
}
/*Alineaciones*/
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.justify{
	text-align: justify;
}
/*colores*/
.color1{
	color: #009b83;
}
.color2{
	color: #5c8f28;
}
.color3{
	color: #333333;
}
.color4{
	color: #f02e19
}
.white{
	color: #ffffff;
}
/*Backgrounds*/
/*colores*/
.background-color1{
	background-color: #009b83;
}
.background-color2{
	background-color: #5c8f28;
}
.background-color3{
	background-color: #333333;
}
.background-color4{
	background-color: #f02e19;
}
.background-white{
	background-color: #ffffff;
}
.background-disabled{
	background-color: #d9d9d9;
}

/*Contenedores*/
.container{
	max-width: 1170px;
	width:100%;
	display: block;
	margin:auto;
}
.col-2-equals{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.col-2-equals .col{
	margin-top: 30px;
}
.col-3-equals{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
.col-3-equals .col{
	margin-top: 30px;
}
.col-4-equals{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}
.col-4-equals .col{
	margin-top: 30px;
}
/*imagenes*/
.img-center{
	display: block;
	margin: auto;
}
img{
	width: 100%;
}
/*HR*/
.hr{
	height: 4px;
	width:60px;
	border-radius: 2px;
	margin-bottom: 30px;
}
.hr-center{
	height: 4px;
	width:60px;
	border-radius: 2px;
	margin-bottom: 30px;
	display: block;
	margin:30px auto;
}
/*botones*/
.button{
	width: 100%;
	max-width: 260px;
	margin: 30px 0;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	display: block;
}
.button-bordered{
	width: 100%;
	max-width: 260px;
	margin: 30px 0;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	display: block;
	border: 3px solid #ffffff;
}
.center-button{
	margin: 30px auto;
}

.whatsapp-float{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
	width: 50px;
	height:50px;
	border-radius: 50%;
	font-size: 35px;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	right: 10px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++
					RESPONSIVE
+++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 768px){
	#section-3-registro .col-4-equals{
		grid-template-columns: 1fr 1fr;
	}
	#section-5-registro .col-2-equals{
		grid-template-columns: 1fr;
		grid-gap: 5px;
	}
	#section-5-registro .col-2-equals .col{
		margin-top: 10px;
  }
  #section-5-registro .col-3-equals{
    grid-template-columns: 1fr;
    grid-gap: 0px;
	}
}
@media only screen and (max-width: 550px){
	header .header-top .col-4-equals{
		grid-template-columns: 1fr;
	}
	.only-mobile{
		display: block!important;
	}
	.only-desktop{
		display: none;
	}
	#section-1-registro .col-2-equals{
		grid-template-columns: 1fr;
	}
	#section-1-registro .col-2-equals .button{
		margin: 30px auto;
	}
	#section-2-registro .col-3-equals{
		grid-template-columns: 1fr;
	}
	#section-4-registro .col-2-equals{
		grid-template-columns: 1fr;
	}
	#section-5-registro label[for="foto"]{
		margin: auto;
  }
  #section-5-registro .col-3-equals{
    grid-template-columns: 1fr;
    grid-gap: 0px;
	}
	footer .col-3-equals{
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
	}
	footer .col-3-equals .col .logo{
		max-width: 260px;
	}
	footer .back-to-top-button{
		margin: 0 auto;
	}
}

@media only screen and (max-width: 375px){
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}


}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
