<section id="section-1-gracias">
  <div class="container">
    <h1 class="color1 center bebas">
      GRACIAS YA TE ENCUENTRAS REGISTRADO
    </h1>
    <div class="hr-center background-color2"></div>
    <img src="assets/05-corazon.svg" class="img-center corazon">
    <h4 class="center color3 regular">
      En el transcurso de máximo de 24 horas, ingresando a la plataforma <b>www.todosmascerca.com</b> podrás ver tu local comercial en el
      listado de comercios asociados.
    </h4>
    <p class="center color3">
      Actualmente, la plataforma está activa en las ciudades de <b>Quito, Guayaquil y Cuenca.</b>Para otras ciudades
      estamos aún en etapa de registro.
    </p>
    <p class="center color3">
      Síguenos en <b>http://www.facebook.com/todosmascerca</b> y sabrás cuando habilitaremos tu ciudad en la web.
    </p>
    <h4 class="center color3 regular">
      Por favor ayúdanos a difundir la web <b>todosmascerca.com</b> e invítalos a registrarse así como tu lo has hecho.
    </h4>
    <h4 class="center color1">
      Comparte en tus redes esta iniciativa
    </h4>
    <p class="center color3">
      Ayúdanos a sacar adelante este proyecto
    </p>
    <div class="hr-center background-color2"></div>
    <div class="contenedor-redes col-3-equals">
      <div class="whatsapp">
        <a href="https://web.whatsapp.com/?text=Hoy%20estamos%20lejos,%20pero%20es%20el%20momento%20en%20el%20que%20sin%20salir%20de%20casa,%20más%20cercanos%20podemos%20estar.%20Comparte%20esta%20iniciativa%20solidaria%20y%20ayudarás%20a%20reactivar%20la%20economía%20popular.%20www.todosmascerca.com" class="ws-desktop share-button back-ws white center" target="_blank">
          <i class="fab fa-whatsapp white"></i>
        </a>
        <a href="http://api.whatsapp.com/send?text=Hoy%20estamos%20lejos,%20pero%20es%20el%20momento%20en%20el%20que%20sin%20salir%20de%20casa,%20más%20cercanos%20podemos%20estar.%20Comparte%20esta%20iniciativa%20solidaria%20y%20ayudarás%20a%20reactivar%20la%20economía%20popular.%20www.todosmascerca.com" class="ws-mobile white share-button back-ws center" target="_blank">
          <i class="fab fa-whatsapp white"></i>
        </a>
      </div>
      <div class="fb-share-button" data-href="https://todosmascerca.com" data-layout="button" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftodosmascerca.com" class="share-button back-face">
          <i class="fab fa-facebook-f white"></i>
        </a>
      </div>
      <a href="https://twitter.com/intent/tweet?text=Ecuador%20es%20uno%20solo,%20saldremos%20adelante.%20Porque%20aunque%20lejos,%20hoy%20estamos%20todos%20más%20cerca.%20Comparte%20esta%20iniciativa%20solidaria%20y%20ayudarás%20a%20reactivar%20la%20economía%20popular.%20www.todosmascerca.com" target="_blank" class="twitter-share-button share-button back-tw white center">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</section>
