<main>
    <section id="section-1-gracias">
        <div class="container">
            <h1 class="color1 center bebas">
                GRACIAS YA TE ENCUENTRAS REGISTRADO
            </h1>
            <div class="hr-center background-color2"></div>
            <img src="images/05-corazon.svg" class="img-center corazon">
            <h4 class="center color3 regular">
                En el transcurso de máximo de 24 horas, ingresando a la plataforma <b>www.todosmascerca.com</b> podrás
                ver tu local comercial.
            </h4>
            <p class="center color3">
                Recuerda, el único objetivo de este gran proyecto es colaborar y reactivar la economía de los pequeños
                negocios obligados a cerrar debido a la crisis que estamos pasando a nivel mundial.
            </p>
            <p class="center color3">
                Te vamos a pedir algo muy importante, si conoces un emprendimiento, local comercial o el vecino que
                vende jugos en la esquina es hora de apoyarnos y compartir.
            </p>
            <h4 class="center color3 regular">
                Por favor ayúdanos a difundir la web <b>todosmascerca.com</b> e invítalos a registrarse así como tu lo
                has hecho.
            </h4>
            <h4 class="center color1">
                Comparte en tus redes esta iniciativa
            </h4>
            <p class="center color3">
                Ayúdanos a sacar adelante este proyecto
            </p>
            <div class="hr-center background-color2"></div>
            <div class="contenedor-redes col-3-equals">
                <div class="whatsapp">
                    <a href="https://web.whatsapp.com/" class="only-desktop share-button back-ws white center"
                        target="_blank">
                        <i class="fab fa-whatsapp white"></i>
                    </a>

                </div>
                <div class="fb-share-button" data-href="https://todosmascerca.com" data-layout="button"
                    data-size="small">
                    <a target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftodosmascerca.com"
                        class="share-button back-face">
                        <i class="fab fa-facebook-f white"></i>
                    </a>
                </div>
                <a href="https://twitter.com/intent/tweet?text=He%20registrado%20mi%20negocio%20en%20https://todosmascerca.com%20les%20invito%20a%20hacerlo"
                    target="_blank" class="twitter-share-button share-button back-tw white center">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>
</main>