<div class="contenedor">
  <header>
    <img src="assets/01-logo-color.svg" alt="TodosMasCerca" style="width: 150px; height: 53px;" />
    <ul class="main-nav">
      <li class="nav-item">
        <a class="nav-link cursorPnt" style="font-size: 25px; margin-left: 5px;" (click)="onLogout()">Log Out</a>
      </li>
    </ul>
  </header>
</div>
<div class="inlineAt">
  <div class="displayInLineBlock">
    <h6 class="">
      Fecha:<span style="font-weight: normal;"> {{ fecha | date }} </span>
    </h6>
    <h6 class="">
      Hora:
      <span style="font-weight: normal;"> {{ fecha | date: "HH:mm:ss" }}</span>
    </h6>

  </div>
  <div *ngIf="!production" class="displayInLineBlock">
    <h6>Entorno de test</h6>
  </div>
  <div class="displayInLineBlock">
    <h6 *ngIf="rol === 'Administrador'">Total de registro al día de ayer: <span
        style="font-weight: normal;">{{createUntilYesterday}} </span> </h6>
    <h6 *ngIf="rol === 'Administrador'">Total de registros al día de hoy: <span
        style="font-weight: normal;">{{allCommerces}} </span> </h6>
    <h6>Registrados el día hoy:<span style="font-weight: normal;"> {{createdNow}} </span></h6>
    <h6>Registros cargados: <span style="font-weight: normal;"> {{allowedCommerces}} </span></h6>
    <h6>Registros pendientes: <span style="font-weight: normal;"> {{pendings}} </span></h6>
    <h6 *ngIf="rol === 'Administrador'">Registros eliminados: <span style="font-weight: normal;"> {{deleted}} </span>
    </h6>

  </div>
</div>
<div style="width: 97%; margin: auto;">
  <div style="display: flex;">
    <div>
      <h4 class="color3">Administrar Comercios:</h4>
    </div>
    <div style="margin-left: auto;">
      <div class="search-bar-container">
        <i class="fas fa-search fa-lg" style="margin-right: 15px;"></i>
        <input class="input-search" type="text" placeholder="  Nombre o ID del comercio" (keyup.enter)="onSearchTerm()"
          #searchInput />
      </div>
      <button class="btn blue cursor-pointer" (click)="onSearchTerm()" style="margin-left: 34px">Buscar</button>
      <button class="btn blue cursor-pointer" (click)="onCleanSearch()">Limpiar</button>
    </div>
  </div>
  <div class="category-container">
    <button class="btn-next" [ngClass]="{ blue: allowed, grey: !allowed }" (click)="onSetAllowed(true)">
      Cargados
    </button>
    <button class="btn-next" [ngClass]="{ blue: !allowed, grey: allowed }" (click)="onSetAllowed(false)">
      En Revisión
    </button>
  </div>
  <div class="category-container">
    <label class="color3" style="margin: 0px 15px;">Seleccione Categoría</label>
    <select (change)="onSetCategory($event.target.value)">
      <option value="all">Todos</option>
      <option [value]="category.commerceCategory" *ngFor="let category of commerceCategories">
        {{ category.commerceCategory }} <span>( {{category.total}} )</span> </option>
    </select>
  </div>
  <div class="category-container">
    <label class="color3" style="margin: 0px 15px;">Seleccione Ciudad</label>
    <select (change)="onSetCity($event.target.value)">
      <option value="all">Todos</option>
      <!-- <option [ngValue]="category.commerceCategory" *ngFor="let city of cities"> -->
      <option [ngValue]="city" *ngFor="let city of cities">
        {{ city }}</option>
    </select>
  </div>
  <table>
    <tr>
      <th style="text-align: center; width: auto;">
        Seleccionar Todos <br />
        <input style="width: 20px;" type="checkbox" (change)="onSelectAll($event.target.checked)"
          [checked]="allSelected" />
      </th>
      <th style="text-align: center;" *ngFor="let title of titlesList">
        {{ title }}
      </th>
    </tr>
    <tr *ngFor="let commerce of commerceList; let i = index">
      <td style="text-align: center;">
        <input type="checkbox" style="width: 20px;" [value]="i" (change)="onCheckCommerce($event.target)"
          [checked]="isCommerceSelectedList[i]" />
      </td>
      <td>{{ commerce.idAux }}</td>
      <td>{{ commerce.category.commerceCategory }}</td>
      <td>{{ commerce.commerceName }}</td>
      <td>{{ commerce.city }}</td>
      <td>{{ commerce.address }}</td>
      <td>{{ commerce.hourOpen }}</td>
      <td>{{ commerce.hourClose }}</td>
      <td>{{ commerce.ownerName }}</td>
      <td>{{ commerce.ownerLastName }}</td>
      <td>{{ commerce.phone }}</td>
      <td>{{ commerce.ownerEmail }}</td>
      <td><img class="table-image" [src]="commerce.commercePhoto" alt="" /></td>
      <td>{{ parseDates(commerce?.createdAt) | date: "shortDate" }}</td>
    </tr>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngIf="numeroPaginas > 1" (click)="navigateToPage('atras')">
        <a class="page-link">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let pagina of listaNumeroPaginas; let i = index" (click)="getNextServicios(pagina)">
        <a class="page-link" [ngClass]="{
            'a-selected': listaPaginasSelected[i],
            'page-link': !listaPaginasSelected[i]
          }">{{ pagina }}</a>
      </li>
      <li class="page-item" *ngIf="numeroPaginas > 1 && currentPage !== listaNumeroPaginas.length"
        (click)="navigateToPage('adelante')">
        <a class="page-link">Siguiente</a>
      </li>
    </ul>
  </nav>
  <div style="text-align: right;">
    <button *ngIf="rol === 'Administrador'" class="btn cursor-pointer" [ngClass]="{
        'btn-invalid': selectedCommercesID.length !== 1,
        blue: selectedCommercesID.length === 1
      }" (click)="openEditCommerceDialog()" [disabled]="selectedCommercesID.length !== 1">
      Editar
    </button>
    <button class="btn cursor-pointer green" *ngIf="!allowed" [ngClass]="{
        'btn-invalid': commerceList.length === 0,
        green: commerceList.length > 0
      }" [disabled]="commerceList.length === 0" (click)="openAllowCommerceDialog()">
      Cargar
    </button>
    <button class="btn cursor-pointer" (click)="openDeleteCommerceDialog()" [ngClass]="{
        'btn-invalid': selectedCommercesID.length == 0,
        red: selectedCommercesID.length > 0
      }" [disabled]="selectedCommercesID.length == 0">
      Eliminar
    </button>
  </div>
  <div style="text-align: right;" *ngIf="selectedCommercesID.length === 0 && rol === 'Administrador'">
    <span class="help-block"><span style="font-weight: bold;">Aviso: </span>Debe seleccionar al menos
      un comercio para poder eliminar o editar.
    </span>
  </div>
  <div style="text-align: right;" *ngIf="selectedCommercesID.length > 1 && rol === 'Administrador'">
    <span class="help-block">Solo puede editar un comercio a la vez</span>
  </div>
  <div style="text-align: right;" *ngIf="rol==='Administrador'">
    <button class="blue btn cursor-pointer" (click)="openDialogDownloadExcel()">
      Descargar Excel
    </button>
  </div>
</div>