
<div class="contenedor">
  <header>
      <img
      src="assets/01-logo-color.svg"
      alt="TodosMasCerca"
      style="width: 150px; height: 53px;">
      <ul class="main-nav">
        <li class="nav-item" >
          <a class="nav-link cursorPnt" style="font-size: 25px; margin-left: 5px;" (click)="onLogout()">Log Out</a>
        </li>
      </ul>
    </header>
</div>
<!-- <div>
  <div class="col">
    <h2 class="color3">Lista de comercios registrados:</h2>
  </div>
  <table>
    <tr>
      <th *ngFor="let title of titlesList">{{title}}</th>
    </tr>
    <tr *ngFor="let commerce of commerceList; let i = index">
      <td>{{ parseDates(commerce.createdAt) | date:'shortDate'}}</td>
      <td>{{i + 1}}</td>
      <td>{{commerce.ownerName}}</td>
      <td>{{commerce.ownerLastName}}</td>
      <td>{{commerce.phone}}</td>
      <td>{{commerce.commerceName}}</td>
      <td>{{commerce.commercePhoto}}</td>
      <td>{{commerce.hourOpen}}</td>
      <td>{{commerce.hourClose}}</td>
      <td>{{commerce.city}}</td>
      <td>{{commerce.address}}</td>
      <td>{{commerce.showCommerce}}</td>
      <td>{{commerce.category.commerceCategory}}</td>
    </tr>
  </table>
</div>
 -->
