.cursor-pointer {
  cursor: pointer;
}

table {
  width: 100% !important;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2e4a5c;
  color: white;
}

.category-container {
  text-align: center;
  margin: 20px;
}

.btn {
  font-weight: bold;
  padding: 10px;
  margin: 8px;
  width: 130px;
}

.btn-invalid {
  opacity: 0.5;
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.btn-next {
  color: black;
  font-weight: bold;
  margin: 0px;
  padding: 15px 80px;
  cursor: pointer;
}

.help-block {
  color: #2e4a5c;
}

.blue {
  background-color: #2e4a5c;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.grey {
  background-color: lightgray;
  opacity: 0.5;
}

.btn-outline-sfuturo-active {
  background-color: #94c15b;
  color: white;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 34%;
  font-weight: bold;
}

.top-left-asignado {
  position: absolute;
  top: 85%;
  left: 13%;
  font-weight: bold;
  color: #56358a;
}

.top-left-now {
  position: absolute;
  top: 30px;
  left: 32%;
  font-weight: bold;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.btn-cancelar {
  background-color: #e8514a;
  font-weight: bold;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif !important;
}

.contenedor {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

header {
  color: #2e4a5c;
  /*border: 2px solid rgb(101, 205, 253);*/
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.main-nav {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

.icono {
  width: 40px;
  height: 40px;
  margin-left: 65px;
  margin-top: 5px;
}

.icono-tabla {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

input {
  outline: 0;
  background: transparent;
  border: 1px solid #2e4a5c;
  height: 25px;
  width: 200px;
}

.txt-esquina {
  color: rgb(147, 199, 89);
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingresar-btn {
  padding: 10px;
}

.img-empresa {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.image-container {
  width: 150px;
}

.div-img {
  border: 1px solid black;
  overflow: hidden;
}

.bloque {
  display: block;
  height: 170px;
}

.inlineAt {
  /* display: inline-block; */
  display: flex;
  margin: 10px 10px;
  justify-content: space-between;
}

.displayInLineBlock {
  margin: 30px;
  display: inline-block;

}

.background-container {
  background-image: url('../../../../assets/fondo-03.png');
  background-size: cover;
}

.background-img{
  background-image: url('../../../../assets/administrador-21.png');
  background-size: cover;
  height: auto;
  padding: 30px 20px;
  color: white;
  border-radius: 30px;
}

.img-icon {
  height: 30px;
  width: 30px;
}

.cajaGrande {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.cajaIntermedia {
  /*width: 1420px;*/
  margin-left: 17px;
}

.scrollNotificaciones {
  overflow: hidden;
  overflow-x: auto;
}

.nombreEmpresa {
  margin-left: 30px;
}

.pad {
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
}

.pad-5 {
  padding-top: 5px;
}

.tamanio_img {
  width: 60px;
  height: 60px;
}

.cursorPnt {
  cursor: pointer;
}

.color-verde {
  color: #86c449;
}

.table-image {
  width: 150px;
  height: 150px;
}

.pagination {
  list-style-type: none;
  width: 300px;
  display: inline-flex;
}

li {
  padding: 10px;
  /*overflow: auto;*/
}

.page-link {
  cursor: pointer;
}

.a-selected {
  cursor: pointer;
  position: relative;
  display: block;
  margin-left: -1px;
  line-height: 1.25;
  border: 1px solid #dee2e6;
  background-color: lightgrey;
}

.input-search {
  width: 270px;
}

.center_image {
  margin: auto;
  padding-left: 100px;
}

.imgen_styles {
  height: 100px;
  width: 200px;
}
